.container {
    margin: 0 auto;
}

.posts {

    max-width: 1080px;
    display: block;
    margin: 0 auto;

    padding: 0 2rem 2rem;

    


    a {

        
        
        display: block;

        & + a {
            padding-top: 3rem;
        }


        strong {
            font-size: 2.125rem;
            font-weight: 700;
        }

        > p { /* subtitle */
            color: var(--gray-200);
            padding: 0.5rem 0;
            font-size: 1.125rem;
        }

        div {
            
            color: var(--gray-200);

            display: flex;
            gap: 1.5rem;
            
            span {

                > svg {
                    margin-right: 0.5rem;
                }
                time, p {
                    display: inline;
                }

            }

        }
    }


}

.loadMore {

    max-width: 1080px;
    display: block;
    margin: 0 auto;

    padding: 2rem;

    button { 

        background: transparent;
        border: none;

        font-size: 1.125rem;
        font-weight: 600;
        color: var(--pink-500);
    }




   
}