.posts {

    display: block;
    padding: 2rem;
    margin: 0 auto 0 0;

    a {

        display: block;

        & + a {
            padding-top: 3rem;
        }

        strong {
            font-size: 2.125rem;
            font-weight: 700;
        }

        > p { /* subtitle */
            color: var(--gray-200);
            padding: 0.5rem 0;
            font-size: 1.125rem;
        }

        div {
            
            color: var(--gray-200);

            display: flex;
            gap: 1.5rem;
            
            span {

                > svg {
                    margin-right: 0.5rem;
                }
                time, p {
                    display: inline;
                }

            }

        }
    }

}

.loadMore {

    padding: 2rem;
    margin: 0 auto 0 0;

    button { 

        background: transparent;
        border: none;

        font-size: 1.125rem;
        font-weight: 600;
        color: var(--pink-500);
    }

}